body {
  max-width: 81.15rem;
  margin: auto;
  font-family: "source-sans-3", sans-serif;
  background-color: #f8f8f8;
}

.asset-details-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 48px;
}
.asset-detail-container {
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 2px 4px darkslategray;
  border-radius: 8px;
}

.media-section {
  background-color: #fdfdfd;
  padding: 15px;
  margin-bottom: 20px;
  display: flex;
}

.media-section > div {
  flex: 1;
}

.media-display {
}

.media-display img {
  width: 600px;
  height: 400px;
  object-fit: cover;
  border-radius: 8px;
}

.meta-data-section {
  display: flex;
  flex-wrap: wrap;
}

.meta-data {
  width: 200px;
  min-height: 64px;
  padding: 10px;
  flex:auto;
}

.meta-data .title {
  font-weight: 800;
  padding: 10px 0;
  font-size: 14px;
}

.meta-data .value {
  font-size: 16px;
  padding: 10px 0;
  color: #333;
}

.meta-data .tags {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.meta-data .tags div {
  background-color: lightgray;
  border-radius: 5px;
  padding: 4px;
  color: #5a5d60;
  font-size: 14px;
}

.usage-section {
  margin-top: 20px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.usage-section .page {
  padding: 10px;
  background-color: #fdfdfd;
  border-bottom: 1px solid #ddd;
}

.usage-section .page a {
  text-decoration: none;
  color: #0054B6;
}

.usage-section .page a:hover {
  text-decoration: underline;
}

.usage-section .page:hover{
  background-color: #ebebeb;
}
