body {
  max-width: 90%;
  margin: auto;
  font-family: "source-sans-3", sans-serif;
  background-color: #f8f8f8;
}

.assets-container {
  color: #333;
  display: flex;
  gap: 1rem;
  margin-bottom: 4rem;
}

.asset-row {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  background-color: #fdfdfd;
  align-items: center;
}

.asset-row:hover {
  background-color: #ebebeb;
}
.asset-row.header {
  font-weight: bold;
  background-color: unset;
}

.assets-flex-container {
  flex: 0 0 80%;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding-bottom: 8px;
}

.asset-header {
  flex: 1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.asset-header:first-child {
  flex: 0;
  color: #f8f8f8;
  padding: 0 10px;
}

.asset-data {
  flex: 1;
  text-align: center;
  font-size: 16px;
}

.asset-data:first-child {
  flex: 0;
}

.assets-title {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 48px;
}

.asset-detail-link a {
  color: #fff;
  background-color: #0265DC;
  text-decoration: none;
  padding: 8px;
  border-radius: 16px;
}

.sort-icon {
  margin-left: 5px;
  background-image: url('icons/sorting.svg'); /* Adjust the path as necessary */
  background-repeat: no-repeat;
  background-size: contain;
  width: 24px; /* Adjust based on your icon's size */
  height: 24px; /* Adjust based on your icon's size */
  display: inline-block;
}

.thumbnail {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 10%;
}

.actions {
  text-align: justify;
  color: red;
}

.view-toggle {
  display: flex;
  position: relative;
  justify-content: flex-end;
  padding: 1rem 0;
}

.view-toggle button {
  background: unset;
  border: 0;
  cursor: pointer;
  text-decoration: underline;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  font-family: "source-sans-3", sans-serif;
}

.view-toggle button.list-view::before{
  content: url('icons/list_icon.svg'); /* Adjust the path as necessary */
}

.view-toggle button.card-view::before{
  content: url('icons/grid_icon.svg'); /* Adjust the path as necessary */
}

.card-view-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  flex: 0 0 80%
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 272px;
  padding: 10px 10px 20px;
  background-color: #fdfdfd;
}

.card .title {
  padding-left: 12px;
  font-size: 14px;
  font-weight: 600;
}

.card .usage {
  padding-left: 12px;
  padding-top: 12px;
  font-size: 14px;
  font-weight: 600;
}
/** horizontal line after usage */
.card .usage::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #ddd;
  margin-top: 5px;
}

.card .action {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  font-size: 14px;
  font-weight: 600;
  padding-left: 12px;
}

.card .view-details {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  padding-top: 10px;
}
.card img {
  object-fit: cover;
  border-radius: 15px;
  width: 252px;
  height: 230px;
  padding: 10px;
}

.card p {
  font-weight: 600;
}

.card ul {
  color: red;
  margin: unset;
  font-weight: 200;
}

.card a {
  color: #fff;
  background-color: #0265DC;
  text-decoration: none;
  padding: 8px;
  border-radius: 16px;
}

.recommendation-panel {
  border-radius: 8px;
  border: 1px solid #ddd;
}

.recommendation-panel .title{
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  padding: 6px;
}
.recommendations-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.recommendation-item {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  width: 200px;
  text-align: center;
  background-color: #fdfdfd;
}
